<div>
	<h2>Your Details</h2>
	<h4>Username</h4>
	<h3><%= @user_name %></h3>

	<h4>Email</h4>
	<h3><%= @email %></h3>

	<h4>Age</h4>
	<h3><%= @age %></h3>

	<h4>Id</h4>
	<h3><%= @id %></h3>

	<h4>Created At</h4>
	<h3><%= @created_at %></h3>

	<h4>Updated At</h4>
	<h3><%= @updated_at %></h3>

</div>