<div>
	<h2>Your To Do list</h2>
	<h4>Task</h4>
	<h3><%= @tasks %></h3>
	
	<h4>Finished</h4>
	<h3><%= @finished %></h3>

	<h4>Created At</h4>
	<h3><%= @created_at %></h3>

	<h4>Updated At</h4>
	<h3><%= @updated_at %></h3>
	
	<h4>Id</h4>
	<h3><%= @id %></h3>


</div>